* {
  box-sizing: border-box;
}

@font-face {
  font-family: "cocogoose";
  src: url("./font/Cocogoose\ Pro\ Family\ \(CC\ BY-NC\)License.pdf");
}

body {
  width: 100%;
  min-width: 300px;
  max-width: 1300px;
  background-color: #f7f7f7;
  color: black;
  font-family: "cocogoose", "lato", sans-serif;
  line-height: 1em;
  margin: 0 auto !important;
  overflow-x: hidden;
}

.first-nav {
  background-color: #272a31;
  height: 1.5em;
}

.second-nav {
  background-color: #fff;
  height: 3em;
}

.first,
.second,
.third,
a {
  text-decoration: none;
  color: white;
}

.mobile a {
  text-decoration: none !important;
  color: #272a31 !important;
}

.anchor1 a {
  text-decoration: none !important;
  color: white;
}

.anchor a {
  text-decoration: none !important;
  color: black;
}

.anchor a:hover {
  border: 2px solid #ec5242;
  box-shadow: 
    0 12px 16px 0 rgba(0, 0, 0, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

.first-body {
  background: rgb(80, 84, 85);
  background: 
    linear-gradient(90deg,
    rgba(80, 84, 85, 1) 0%,
    rgba(172, 191, 167, 0.09) 45%,
    rgba(70, 70, 74, 1) 100%
  );
}

.main-program {
  position: relative;
  top: 2em;
}

.anchor2 :hover {
  border: 2px solid #d3d3d3;
}

.first-second {
  background-color: #272a31;
}

.text-colour {
  color: #ec5242;
}

.white {
  color: white;
}

.logo-div {
  background-color: #272a31;
}

.featured-div {
  background-color: #d3d3d3;
}

.last-div {
  background-color: #d3d3d3;
}

.last-about-div {
  background-color: #272a31;
}

.img-fluid {
  border-radius: 8px;
  width: 100px;
  height: auto;
}

.about-div {
  border-top: 1px solid #d3d3d3;
  border-bottom: 1px solid #d3d3d3;
}

.blockquote1 {
  border: 1px solid #d3d3d3;
  background-color: white;
  font-size: 16px;
  line-height: 2;
}

.conference-pix {
  background-image: url(./images/conference.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
  height: 12rem;
  margin-left: 5em;
  margin-right: 50px;
  opacity: 0.5;
}

.conference-pix1 {
  background-image: url(./images/conference.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
  height: 12rem;
  margin-left: 5em;
  margin-right: 50px;
  opacity: 0.5;
}

.ab {
  display: inline-block;
}

input {
  display: block;
  margin: 0 auto;
}

hr {
  width: 30px;
  background-color: #ec5242;
}

.first-flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.first {
  text-align: center;
  background-color: #ec5242;
  margin-right: 0.5em;
  padding: 1em;
  border-radius: 5px;
}

.second,
.third,
.fourth {
  background-color: #d3d3d3;
  margin-right: 0.5em;
  padding: 1em;
  border-radius: 5px;
}

.second-flex {
  border-top: 1px solid #d3d3d3;
  border-bottom: 1px solid #d3d3d3;
}

.child1 {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 0.5em;
}

.power {
  padding: 7px;
  border-radius: 20px;
  color: #272a31;
  background-color: white;
  border: 1px solid #d3d3d3;
  margin-left: 1em;
}

.logo {
  margin-bottom: 1em;
}

.logo1 {
  margin-top: 1.5em;
  border: 1px solid #d3d3d3;
  border-radius: 5px;
  padding: 1em;
}

.fa-accusoft,
.fa-chalkboard-teacher {
  color: #ec5242;
  margin-right: 1em;
}

.fa-folder,
.fa-calendar-week {
  color: #272a31;
  margin-right: 1em;
}

.first-grid {
  display: grid;
  grid-template-columns: auto;
  margin-left: 6em;
}

.item {
  border: 1px solid #d3d3d3;
}

.hubert-div {
  background-color: #d3d3d3;
  border-radius: 2px solid;
  padding: 5px;
}

.lunch {
  margin-right: 50%;
}

.first-ticket {
  background-color: #d3d3d3;
}

.second-grid {
  display: grid;
  grid-template-columns: auto auto auto;
}

.item1,
.item2,
.item3,
.item4,
.item5,
.item6,
.item7 {
  border: 1px solid #d3d3d3;
  padding: 10px;
}

.item1 {
  grid-column: 1 / span 2;
  grid-row: 1;
}

.item2 {
  grid-column: 1 / span 2;
  grid-row: 2;
}

.item3 {
  grid-column: 3;
  grid-row: 1 / span 4;
}

.item4 {
  grid-column: 1 / span 2;
  grid-row: 4;
}

.item5 {
  grid-column: 1 / span 3;
  grid-row: 5;
}

.item6 {
  grid-column: 1 / span 3;
  grid-row: 6;
}

.item7 {
  grid-column: 1 / span 3;
  grid-row: 7;
}

.conference {
  display: flex;
  justify-content: center;
  padding: 10px;
  margin-top: 5em;
  background-color: #ec5242;
  border-radius: 5px;
}

.mobile {
  font-size: 1em !important;
}

.navbar-toggle {
  padding: 10px;
  background-color: #272a31 !important;
  color: #d3d3d3 !important;
}

@media only screen and (max-width: 767px) {
  body {
    overflow-x: hidden;
  }

  .first-nav {
    display: none;
  }

  .second-nav {
    display: none;
  }

  .para {
    font-size: 20px;
  }

  .feature1 {
    display: flex;
    flex-direction: row;
    margin-top: 1em;
    padding-right: 1em;
  }

  .feature-p {
    margin-top: 1em;
    margin-left: 1em;
  }

  .blockquote1 {
    font-size: 16px;
    margin: 0 3em;
    line-height: 2;
  }

  .first-flex {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px;
  }

  .small-device {
    margin: 5px;
  }

  .child1 {
    align-content: center;
  }

  .logo1 {
    margin-top: 1.5em;
    border: 1px solid #d3d3d3;
    border-radius: 5px;
    padding: 1em;
  }
}

@media only screen and (min-width: 768px) {
  .mobile-view {
    display: none;
  }
}
