* {
  box-sizing: border-box;
}

body {
  width: 100%;
  min-width: 300px;
  max-width: 1300px;
  color: black;
  font-family: "cocogoose", "lato", sans-serif;
  line-height: 1em;
  margin: 0 auto !important;
  overflow-x: hidden;
}

.first-nav {
  background-color: #272a31;
  height: 1.5em;
}

.second-nav {
  background-color: #ffffff;
  height: 2em;
}

.Campaign {
  border: 4px solid #ec5242;
}

.anchor a {
  text-decoration: none !important;
  color: black;
}

.anchor a:hover {
  color: #ec5242;
}

.anchor1 a {
  text-decoration: none !important;
  color: white;
}

.first-body {
  background: rgb(18, 12, 12);
  background: linear-gradient(
    90deg,
    rgba(18, 12, 12, 0) 3%,
    rgba(113, 108, 133, 1) 39%,
    rgba(252, 69, 71, 0) 100%
  );
}

.first-second {
  background-color: #272a31;
}

.text-colour {
  color: #ec5242;
}

.white {
  color: white;
}

.logo-div {
  background-color: #272a31;
  height: 10rem;
}

.featured-div {
  background-color: #d3d3d3;
}

.last-div {
  background-color: #d3d3d3;
}

.last-about-div {
  background-color: #272a31;
}

.conference-pix {
  background-image: url(./images/conference.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
  height: 12rem;
  margin-left: 10em;
  margin-right: 50px;
}

.conference-pix1 {
background-image: url(./images/conference.jpg);
background-repeat: no-repeat;
background-size: 100%;
background-position: center;
height: 12rem;

}

@media only screen and (max-width: 767px) {
}

@media only screen and (min-width: 768px) {
}
